= select_tag "category_id_#{type}", options_from_collection_for_select(Category.order(:name).all, "id", "name"), :class => 'chosen-select filter-category', :prompt => 'Todas'
= select_tag "order_by_#{type}", options_for_select({'Mais votadas' => 'voted_first', 'Mais recentes' => 'recent_first'}), :class => 'chosen-select order-category'
