<% content_for :head do %>
<style>
	body {
		background-color: #582985;
		background-image: url('/assets/FE3.png');
		color: #fff;
		font-size: .8rem;
	}
	header {
		border-bottom: 1px solid #fff;
		padding-bottom: 1em;
		margin-bottom: 3em;
	}
	h1 {
		text-transform: uppercase;
	    color: #d8b212;
	    font-family: ProximaNovaSoft-Bold;
	    letter-spacing: .2em;
	    text-align: center;	
	    margin: 1.5em 0 1em 0; 
	}
	.notas {
		width: 100%;
		margin-bottom: 2em;
		position: relative;
	}
	.notas td:first-child:after {
		content: "";
	    position: absolute;
	    border-bottom: 1px dotted white;
	    width: 100ch;
	    top: 1em;
	    margin: 0 .5em;
	}
	.notas td:first-child {
		width: calc( 100% - 12ch );
		overflow: hidden;
		position: relative;
	}
	.notas td:last-child {
		width: 12ch;
		padding-left: .5em;
	}
	table.classificacao  td:first-child {
		width: 100%;
	}
	table.classificacao  td:nth-child(2) {
		text-align: center;
	}
	table.classificacao tbody>tr:nth-of-type(odd) {
		background-color: rgba(64,18,104,.5);
	}
	p {
	}
	.container {
		margin-bottom: 5rem;
	}
	h2 {
	    margin: 1em 0; 
	    background-color: #097e74;
	    font-weight: bolder;
	    display: inline-block;
	    padding: .3em .75em;
	    font-family: ProximaNovaSoft-Bold;
	    letter-spacing: .3em;
	    color: #582985;
	}
	@media screen and (min-width: 500px) {
		body {
			font-size: 1rem;
		}
		.avaliacao {
		}
	}
</style>
<% end %> 

<% content_for :main do %>
<div class="container">
	<h1>Avaliação de partidos</h1>

	<p>Cada um dos 35 partidos recebeu uma nota entre 0 e 100. As notas foram calculadas a partir das quatro categorias abaixo, cada uma valendo 25 pontos.</p>

	<div class="avaliacao">
		<h2>LGBT</h2>

		<p>Para avaliar os partidos relativamente à questão LGBT, aproveitamos a avaliação em cinco categorias (vanguarda, promissor, pragmático, hostil e novo) dos 35 partidos brasileiros feita pelo grupo LGBT Brasil, responsável pela “Cartilha LGBT Eleições 2016”, atribuindo a seguinte nota a cada categoria:</p>
		<table class="notas">
			<tbody>
				<tr>
					<td>Vanguarda</td>
					<td>25 (100%)</td>
				</tr>
				<tr>
					<td>Promissor</td>
					<td>18,75 (75%)</td>
				</tr>
				<tr>
					<td>Pragmático</td>
					<td>12,5 (50%)</td>
				</tr>
				<tr>
					<td>Novo</td>
					<td>12,5 (50%)</td>
				</tr>
				<tr>
					<td>Hostil</td>
					<td>0 (0%)</td>
				</tr>
			</tbody>
		</table>
		<p>São considerados partidos novos aqueles registrados posteriormente às últimas eleições de 2014 (Rede, Partido Novo e PMB).</p>


		<h2>Igualdade de gênero</h2>

		<p>Para avaliar os partidos quanto a seu compromisso com a igualdade de gênero, consideramos a posição de seus deputados presentes à reunião da comissão que votou o projeto de lei que criminaliza anúncio de meio abortivo (há controvérsia se criminaliza inclusive a oferta de “pílula do dia seguinte”) e dificulta o atendimento da mulher vítima de estupro (PL 5069/2013).</p>
		<p>Aos partidos que não participaram da votação, mas cujos militantes e/ou lideranças declararam-se publicamente contrários à proposta, foi atribuída a nota máxima (25).</p>
		<p>Aos partidos que não participaram da votação e cujas posições não foram encontradas em declarações públicas foi atribuída a nota média (12,5).</p>

		<h2>Igualdade racial</h2>

		<p>Para avaliar os partidos relativamente às demandas dos movimentos de pessoas negras, utilizamos o percentual de adesão do partido à Proposta de Emenda Constitucional que pretendia a redução da maioridade penal de 18 para 16 anos (PEC 171/1993) e atingiria especialmente a população negra, maior vítima da seletividade do sistema penal brasileiro.</p>
		<p>O percentual de votos contrários à PEC da Redução da Maioridade foi multiplicado pela nota máxima do quesito, ou seja, 25.</p>
		<p>Às três abstenções (um deputado do PDT, outro do PSB e outro do PMDB) foi dada metade da pontuação merecida pelo voto contrário, por se entender que a abstenção contribuiu ainda que parcialmente para a não aprovação da PEC.</p>
		<p>Aos partidos que não participaram da votação, mas cujos militantes e/ou lideranças declararam-se publicamente contrários à redução da maioridade penal, foi atribuída a nota máxima (25).</p>
		<p>Aos partidos que não participaram da votação e cujas posições não foram encontradas em declarações públicas foi atribuída a nota média (12,5).</p>


		<h2>Frentes e bancada</h2>
		<p>Finalmente, avaliamos os partidos quanto à participação de seus deputados na (1) <a href="http://www.camara.leg.br/internet/deputado/frenteDetalhe.asp?id=53465">Frente Parlamentar Mista da Família e Apoio à Vida</a>, (2) <a href="http://www.camara.leg.br/internet/deputado/frenteDetalhe.asp?id=53548">Frente Parlamentar em Defesa dos Direitos Humanos</a>, e (3) da bancada ruralista (conforme <a href="http://www.diap.org.br/index.php/publicacoes/finish/41-radiografia-do-novo-congresso/2883- radiografia-do-novo-congresso-legislatura-2015-2019-dezembro-de-2014">concepção do Diap</a>), atribuindo-lhes uma nota de até 8,33 para sua participação em cada um desses grupos.</p>
		<p>A Frente Parlamentar Mista da Família e Apoio à Vida reúne majoritariamente deputados com uma concepção conservadora de família e contrária à legalização ou mesmo descriminalização do aborto. O percentual de deputados federais de um partido não membros dessa frente foi multiplicado por 8,33, nota máxima do quesito.</p>
		<p>Da Frente Parlamentar em Defesa dos Direitos Humanos participam preponderantemente deputados progressistas defensores dos direitos das minorias. O percentual de deputados federais de um partido membros dessa frente foi multiplicado por 8,33, nota máxima do quesito.</p>
		<p>A bancada ruralista abrange principalmente deputados que defendem os interesses do grande agronegócio, muito frequentemente contrário a direitos humanos de povos indígenas e trabalhadores rurais, ou ainda a medidas de proteção do meio ambiente. O percentual de deputados federais de um partido não membros dessa bancada foi multiplicado por 8,33, nota máxima do quesito.</p>
		<p>Levamos em conta as filiações partidárias atuais dos deputados membros das frentes e bancada.</p>
		<p>Os partidos que não têm deputados federais, mas cujos militantes e/ou lideranças são notoriamente em favor de direitos humanos, receberam a nota máxima (8,33).</p>
		<p>Os partidos que não têm deputados federais, mas que não são notórios defensores dos direitos humanos, receberam a nota média (4,16).</p>

		<h1>Avaliação dos partidos</h1>

		<p>Apresentamos abaixo um quadro resumindo a nota final para cada partido. Para informações completas a respeito da nota em cada quisito, baixe o documento completo <a href="/assets/tabela.pdf">aqui</a>.</p>

		<table class="table table-striped classificacao">
			<thead>
				<tr>
					<th>Partido</th>
					<th>Avaliação #MeRepresenta</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>DEM</td>
					<td>14,42</td>
				</tr>
				<tr>
					<td>NOVO</td>
					<td>50,00</td>
				</tr>
				<tr>
					<td>PCB</td>
					<td>100,00</td>
				</tr>
				<tr>
					<td>PC do B</td>
					<td>91,48</td>
				</tr>
				<tr>
					<td>PCO</td>
					<td>50,00</td>
				</tr>
				<tr>
					<td>PDT</td>
					<td>52,19</td>
				</tr>
				<tr>
					<td>PEN</td>
					<td>26,39</td>
				</tr>
				<tr>
					<td>PHS</td>
					<td>30,48</td>
				</tr>
				<tr>
					<td>PMB</td>
					<td>54,17</td>
				</tr>
				<tr>
					<td>PMDB</td>
					<td>38,81</td>
				</tr>
				<tr>
					<td>PMN</td>
					<td>37,50</td>
				</tr>
				<tr>
					<td>PP</td>
					<td>14,74</td>
				</tr>
				<tr>
					<td>PPL</td>
					<td>50,00</td>
				</tr>
				<tr>
					<td>PPS</td>
					<td>68,18</td>
				</tr>
				<tr>
					<td>PR</td>
					<td>15,21</td>
				</tr>
				<tr>
					<td>PRB</td>
					<td>14,02</td>
				</tr>
				<tr>
					<td>PROS</td>
					<td>36,90</td>
				</tr>
				<tr>
					<td>PRP</td>
					<td>16,67</td>
				</tr>
				<tr>
					<td>PRTB</td>
					<td>29,17</td>
				</tr>
				<tr>
					<td>PSB</td>
					<td>56,38</td>
				</tr>
				<tr>
					<td>PSC</td>
					<td>17,64</td>
				</tr>
				<tr>
					<td>PSD</td>
					<td>13,94</td>
				</tr>
				<tr>
					<td>PSDB</td>
					<td>28,12</td>
				</tr>
				<tr>
					<td>PSDC</td>
					<td>25,00</td>
				</tr>
				<tr>
					<td>PSL</td>
					<td>50,00</td>
				</tr>
				<tr>
					<td>PSOL</td>
					<td>100,00</td>
				</tr>
				<tr>
					<td>PSTU</td>
					<td>100,00</td>
				</tr>
				<tr>
					<td>PT</td>
					<td>90,32</td>
				</tr>
				<tr>
					<td>PTB</td>
					<td>35,93</td>
				</tr>
				<tr>
					<td>PTC</td>
					<td>37,50</td>
				</tr>
				<tr>
					<td>PT do B</td>
					<td>16,67</td>
				</tr>
				<tr>
					<td>PTN</td>
					<td>54,17</td>
				</tr>
				<tr>
					<td>PV</td>
					<td>50,50</td>
				</tr>
				<tr>
					<td>REDE</td>
					<td>66,67</td>
				</tr>
				<tr>
					<td>SD</td>
					<td>33,54</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<% end %>