<% content_for :head do %>
<title>MeRepresenta - Bem vindo</title>
<style>
    body {
        font-size: 13px;
        background-color: #552e76;
        color: #fff;
        background-image: url('/assets/FE1.png');
        background-size: cover;
    }
    .links {
        color: #d8b212;
        font-size: 1em;
        display: inline-block;
    }
    .links:hover {
        color: #d8b212;
        font-size: 1.1em;
        text-decoration: none;
        transform: rotate(360deg);
        transition: font-size 1s, transform 2s;
    }
    img.logo {
        max-width: 100%;
    }
    header {
        padding: 1em;
        border-bottom: 1px solid #7e5c9e;
    }
    .content>h2 {
        display: block;
        font-size: 1.2em;
        font-weight: bolder;
        padding: .5em 0 .5em 0;
    }
    .content {
        color: #fff;
        padding: 0 2em 0 1em;
    }
    .btn  {
        width: 48%;
        color: #000;
        text-transform: uppercase;
    }
    .btn1 {
        background-color: #097e74;
        float: left;
    }
    .btn2 {
        background-color: #d8b212;
        display: block;
        width: 40ch;
        max-width: 100%;
    }
    @media screen and (min-width: 360px) {
        body {
            font-size: 1rem;
        }
    }
    @media screen and (min-width: 991px) {
        body {
            background-repeat: no-repeat;
        }
        main {
        }
        img.logo {
            display: none;
        }
        .content {
            float: right;
            width: 51%;
            margin: 15% 0;
        }
        .container {
            background-image: url("/assets/01.png");
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: -24% 60%;            
        }
        nav a {
            margin-right: 2em;
        }
    }
</style>
<% end %>
<% content_for :header do %>
    <%= link_to "Sobre nós", about_path, {class: "links"} %>
<% end %>
<% content_for :main do %>
    <div class="container">
        <img src="/assets/01.png" class="logo" alt="Logo">
        <div class="content">
            <h2>Plataforma de candidaturas a favor dos direitos humanos</h2>
           
            <p>Se você respeita os direitos humanos e está se candidatando a vereador/a nas eleições de 2016, inscreva-se no nosso site! Assim vai ficar mais fácil divulgar sua candidatura para eleitoras e eleitores da sua cidade :)</p>
            <p>Se você é eleitor/a, poderá acessar a nossa lista de candidaturas a partir do dia 15 de setembro!</p>
            
            <% if false %>
            <%= link_to "Eleitor(a)", facebook_auth_path({type: "user"}), {class:"btn btn1"} %>
            <% end %>
            <div class="botao">
                <%= link_to "Sou candidato/a", facebook_auth_path({type: "candidate"}), {class: "btn btn2"} %>
                Quero  divulgar minha candidatura!
            </div>
        </div>
    </div>
<% end %>
