<% content_for :head do %>
<title>MeRepresenta - Bem vindo</title>
<style>
    body {
        font-size: 13px;
        background-color: #552e76;
        color: #fff;
        background-image: url('/assets/FE1.png');
        background-size: 100%;
    }
    img.logo {
        max-width: 100%;
    }
    header p, header nav, h2 {
        display: inline;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .google {
        background-image: url("/assets/google.svg");
    }
    .twitter {
        background-image: url("/assets/twitter.svg");
    }
    .face {
        background-image: url("/assets/face.svg");
    }
    header a {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 30px;        
        overflow: hidden;
        text-indent: -30ch;
        width: 30px;
        height: 30px;
        top: -.6em;
        position: relative;
    }
    header {
        padding: 1em;
        border-bottom: 1px solid #7e5c9e;
    }
    header nav {
        float: right;
    }
    .content>h2 {
        display: block;
        font-size: 1.2em;
        font-weight: bolder;
        padding: .5em 0 .5em 0;
    }
    .content {
        color: #fff;
        padding: 0 2em 0 1em;
    }
    .btn  {
        width: 48%;
        color: #000;
    }
    .btn1 {
        background-color: #097e74;
        float: left;
    }
    .btn2 {
        background-color: #d8b212;
        float: right;
    }
    @media screen and (min-width: 360px) {
        body {
            font-size: 1rem;
        }
        header a {
            top: -.4em;
        }
    }
    @media screen and (min-width: 991px) {
        body {
            background-repeat: no-repeat;
        }
        main {
        }
        img.logo {
            display: none;
        }
        .content {
            float: right;
            width: 51%;
            margin: 15% 0;
        }
        .container {
            background-image: url("/assets/01.png");
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: -24% 60%;            
        }
        nav a {
            margin-right: 2em;
        }
    }
</style>
<% end %>
<% content_for :header do %>
    <p>Acompanhe de pertinho</p>
    <nav>
        <a href="#" class="face">Facebook</a>
        <a href="#" class="twitter">Twitter</a>
        <a href="#" class="google">Google+</a>
    </nav>
</header>
<% end %>
<% content_for :main do %>
    <div class="container">
        <img src="/assets/01.png" class="logo" alt="Logo">
        <div class="content">
            <h2>Quais candidatos respeitam os direitos das mulheres e de LGBTS?</h2>

            <p>#MeRepresenta é uma plataforma para te ajudar a decidir em quem votar para vereador nas próximas eleições de 2016. Aqui você vai saber o posicionamento das candidaturas sobre pautas relevantes à construção das igualdades de gênero, racial e de orientação sexual.</p>
            <p>O site é completamente idependente de partidos e instituições, e é o resultado de uma parceria entre o #VoteLGBT, o #AgoraÉQueSãoElas, a Rede Feminista de Juristas, a Rede Nossas Cidades (Meu Rio, Minha Sampa, Minha Porto Alegre e Meu Recife), a CFEMEA e o grupo LGBT Brasil.</p>

            <%= link_to "Eleitor(a)", facebook_auth_path({type: "user"}), {class:"btn btn1"} %>
            <%= link_to "Candidato", facebook_auth_path({type: "candidate"}), {class:"btn btn2"} %>
        </div>
    </div>
<% end %>
