p Olá #{@candidate.name},

p Gostaria de agradecer a sua colaboração em responder o questionário do Verdade ou Consequência.

p Você será avisado quando a fase de comparação das respostas dos candidatos começar, assim você poderá espalhar para seus potenciais eleitores o seu perfil e as suas respostas do questionário.

p Você ainda pode alterar suas respostas através #{link_to "deste link", new_candidate_answer_url(@candidate, :token => @candidate.token)}

p Ajude a divulgar a ferramenta para os colegas de partido e/ou coligação. 

p Muito obrigado, boa sorte e vamos fazer dessas eleições a mais participativa e democrática que o Rio já viu.
