p Prezado(a) #{@candidate.name},

p Faltam 48h para você também participar da ferramenta "Verdade ou Consequência" da ONG Meu Rio. A ferramenta é gratuita e simples, e terá um alcance de cerca de 50 mil eleitores cariocas.

p Participe em: #{link_to "Clique aqui", new_candidate_answer_url(@candidate, :token => @candidate.token)}

p Att,

p Bernardo Castro
