%section.join
  %header
    %h2 Eleições Municipais 2012
    %h1 Verdade ou Consequência?
    %span.headline O carioca pergunta e os candidatos respondem!
  %section
    = image_tag ""
    %fieldset
      = form_for @user do |f|
        = f.submit "Enviar", :class => "button_submit"

%section.how

%section.why
