<% content_for :head do %>
<style>
    body {
        background-color: #582985;
        background-image: url("/assets/FE3.png");
    }
    h1 {
        color: #d8b212;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bolder;
    }
    p {
        color: #fff;
        margin: 2em 0;
    }
    table {
        width: 100;
        border-collapse: separate;
        border-spacing: 4px;
        color: #582985;
        font-weight: bolder;
    }
    td a {
        color: #582985;
    }
    td a:hover {
        color: #582985;
        text-decoration: none;
        font-size: 1.2em;
    }
    th {
        background-color: #097e74;
        border: 1em solid #582985;
        padding: 1em;
    }
    td {
        background-color: #097e74;
        padding: 1em;
    }
    .voto, .score {
        text-align: center; 
        width: 10%;
    }
    .candidato {
        width: 100%;
    }
    conteudo img {
        width: 20px;
        height: 20px;
    }
    label {
        display: block;
        font-size: .8em;
    }
    .btn-2-inv {
        border: 2px solid #d8b212;
        padding: 1.2em;
        margin: auto;
        display: block;
        width: 36ch;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 4em;
    }
    .filtros {
        text-transform: uppercase;
        margin-bottom: 4em;
    }
    .filtro {
        padding: 2em;
        background-color: #097e74;
        color: #582985;
        font-weight: bolder;
        letter-spacing: .2em;
    }
    .filtros h2 {
        text-align: center;
        border: 2px solid #00a99d;
        color: #00a99d;
        font-weight: bolder;
        font-size: 1em;
        padding: 1em;
        letter-spacing: .2em;
        border-radius: .3em;
    }
    .filtro input {
        display: none;
    }
    input+span:before {
        content: "\00a0";
        background-image: url("/assets/rb20p.svg");
        background-size: 100%;
        width: 1em;
        height: 1em;
        background-repeat: no-repeat;
        display: inline-block;
        top: 0.2em;
        position: relative;
        margin-right: .5em;
    }
    input:checked+span:before {
        background-image: url("/assets/rb21p.svg");
    }
    @media screen and (min-width: 1100px){
        /*
        .container {
            width: 100%;
            max-width: 100%;
        }
        .conteudo {
            width: calc( 100% - 40ch );
            float: left;
            padding: 1em;
        }
        .filtros {
            width: 40ch;
            float: right;
        }
        */
    }
</style>
<% end %>

<% content_for :menu do %>
    <li><a href="<%= new_answer_path %>" class="dropdown-item">Refazer questionário</a></li>
<% end %>

<% content_for :main do %>
    <div class="container">
        <div class="conteudo">
            <h1>Esses são os candidatos que mais combinam com seu perfil</h1>
            <p>Aqui estão os candidatas e os candidatos que têm a ver com você! Eles estão organizados de acordo com  seus posicionamentos pessoais, mas também de acordo com o compromisso de seus partidos e coligações com os direitos humanos.</p>
            <p>Nas eleições, você terá direito a apenas um voto para vereados, então escolha com cuidado com quem vai votar. E, se possível, escolha votar em uma mulher! Assim você vai contribuir para a igualdade de gênero na Câmara Municipal de sua cidades.</p>
            
            <table>
                <thead>
                    <tr>
                        <th>Eu voto</th>
                        <th>Candidatos</th>
                        <th>Afinidade</th>
                    </tr>
                </thead>
                <tbody>
                    <% @candidates.each do |candidate| %>
                        <tr>
                            <td class="voto">
                                <% if candidate["id"] == @user.candidate_id %>
                                <img src="/assets/c1.svg" alt="Recebe meu voto">
                                <% else %>
                                <img src="/assets/c0.svg" alt="Não receberá meu voto">
                                <% end %>
                            </td>
                            <td class="candidato"><%= link_to candidate["name"], candidate_path(candidate["id"]) %></td>
                            <td class="score"><%= candidate["score"] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% if @candidates.size() > 10 %>
            <button type="button" class="btn btn-2-inv">mostrar mais</button>
            <% end %>
        </div>
    </div>
<% end %>