<!doctype html>
<style>
	div.cities {
		background-color: white;
		border-radius: .5em;
		padding: 2em;
	}
	div.cities>div {
		margin-top: 1em;
	}
</style>

<div class="wrapper">
	<div class="cities">
		<h2>Não houveram candidatos do município de <%= "#{@city.name}, #{@city.state}" %> que responderam nosso questionário.</h2>
		<div>
			<p>Mobilize-se, tente em contato com os candidatos que conhece e peça para que responda ao questionário, assim, ele poderá ganhar visibilidade na nossa rede.</p>
			<p>Convite também seus amigos para conhecer nosso site</p>
		</div>
	</div>
</div>
