<% content_for :header do %>
    <style>
    </style>
<% end %>

<% content_for :main do %>
    <div class="container">
        <h1>Agradecemos pelo contato</h1>
        <div class='mensagem'>
            Mutchas gracias, bambino !
        </div>
    </div>
<% end %>
