// Import standards
@import compass/reset
@import compass/utilities
@import compass/css3

// Import Grid System
@import 960/grid


// Mixins for fonts
@import mixins/fonts

// Mixins For buttons
@import mixins/buttons



// Define variables
$green: #7DC241
$blue: #3399CB
$pink: #df499a
$orange: #ef803b
$gray: #333
$header: #2BB1E3
$fb_blue: #3B5998


// Define the column grid system
$grid-system: 16
$ninesixty-columns: $grid-system
$grid-half: $grid-system * 0.5

@mixin grid-padded
  +grid($grid-system)


// Universal styles
body
  font: normal 1em/28px "Akagi-Book", Tahoma, Lucida Grande
  color: $gray
  background: url(asset_path('bg_header.png', 'image'))

strong
  font-weight: bold

h1
  font-family: "Folk-solid", Arial, Tahoma
  font-size: 3.5em
  line-height: 64px
  text-transform: uppercase
  color: $header
  text-shadow: 0 -1px 1px #666
h2
  font-size: 1.9em
h3
  font-size: 1.4em
h4
  font-size: 0.9em
h5
  font-size: 0.6em
h6
  font-size: 0.4em

a, a:active, a:visited
  color: #333
  text-decoration: none
  transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  -moz-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  -o-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  -webkit-transition: opacity 0.35s ease-in-out, color 0.25s ease-in-out
  &:hover
    color: $green
    border-bottom: 1px solid $green

input[type=text]
  border: 1px solid #dedede
  padding: 10px 15px
  +box-shadow(inset 1px 1px 2px #999)
  font-size: 14px



input[type=submit]
  +btn($orange, $pink)

input[disabled]
  +btn(#999, #999)
  color: #666!important

.wrapper
  +grid-container

.message
  width: 68%
  margin-left: 15%
  margin-right: 15%
  padding: 10px 20px
  position: fixed
  border: 1px solid #fff
  border-top: none
  color: white
  opacity: .9
  +border-radius(0 0 6px 6px)
  +box-shadow(1px 1px 2px #333)
.alert
  background: red
.notice
  background: $green

footer
  width: 940px
  margin: 0 auto
  clear: both
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 20px
  a
    color: $gray
  .links
    float: left
    width: 30%
    line-height: 36px
    text-transform: uppercase
  .marker
    width: 10px
    padding: 15px
  .participate
    background: url(asset_path('bg_footer_contact_us.png', 'image')) -8px -6px  no-repeat
    text-align: right
    padding: 0 10px
    padding-left: 40px
    padding-bottom: 15px
    font-weight: 100
    line-height: 36px
    float: right
    color: #06567e
    a
      color: #ffcc00


