// THis file is not being used by the Splash Page. This is the application. :)


// Import all the resets
@import compass/reset
@import compass/utilities
@import compass/css3

// Import all the grid
@import 960/grid

// Mixins then Defaults :)
@import mixins/buttons


// Defaults (styles for body, h1, strong etc)
@import defaults

h1
  font-size: 2.1em
  letter-spacing: 3px
h2
  font-size: 1.1em

.header
  header
    +grid($grid-system)
    +clearfix
    text-shadow: 1px 1px 1px white
    font-weight: 600
    font-size: .9em
    img
      float: left
    span
      line-height: 60px
      text-transform: uppercase
      width: 100px
      float: left
    .login
      float: right
      a
        margin-left: 10px
        line-height: 60px

section.info, section.questions
  +grid($grid-system)
  +box-shadow(1px 1px 4px #333)
  +border-radius(6px)
  background: white
  margin-bottom: 20px
  padding: 10px


section.questions
  background: $blue
  h1, h2, h3, h4
    color: white
  header
    +grid($grid-system)
    text-align: center
  .truth, .dare
    +grid($grid-half)
    .form, .questions_list
      +border-radius(6px)
      background: white
      margin-bottom: 20px
      padding: 15px
    h2, h3
      font-family: "Folk-solid"
      color: $blue
    .questions_list
      +clearfix
      ol li
        clear: both
        padding: 20px 0
        margin: 10px 0
      .avatar
        +grid($grid-half * 0.1)
        +alpha
      .text
        +grid($grid-half * 0.8)
        +omega
        padding-left: 10px
  section.truth
    +alpha
  section.dare
    +omega





.participate
  display: none
