.control-label {
    color: #fff;
    text-align: right;
    font-weight: bolder;
}        
.control-label {
    text-transform: uppercase;
}        
.buttons {
    width: 100%;
    display: inline-block;
    padding-top: 1.5em;  
}
.form-control, .form-control:focus {
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 1em;
    color: #fff;
}
@media screen and (min-width: 544px) {
    .control-label {
    }
    .form-control, .form-control:focus {
        margin-bottom: 2em;
    }
    .buttons {
        padding-top: 2em;
    }
}
