!!!
%html
  %head
    %title Carioca Pergunta

    = stylesheet_link_tag :application

  %body

    #wrapper.container_16

      .warnings
        = alert or notice
      %header

      %section
        = yield
      %footer


    = javascript_include_tag :application
